/* 1.确定背景颜色 格子宽度*/
body{
    background-color:blanchedalmond;
}
.table1{
    width:100%;
}
.table2{
    background-color:#cccccc;
    width:100%;
}

.table2 td{          /*要给td设置宽度，才能让文本居中*/
    background-color:#ffffff;
    text-align:center;
    line-height: 150%;

/*     添加了这句话 表格第二行就会崩 为什么? ?*/
/*     width: 10%; */
}
